# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Airflow logs and temp files
airflow/logs/
logs/
*.pid

# Environment files
.env
*.env
.venv/
venv/
ENV/
env/
my_env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS metadata
.DS_Store

# VS Code settings
.vscode/

# Temporary files
*.tmp
*.log
*.bak

# Compiled binaries
*.so
*.dylib
*.dll